.page-success {
  .row-login {
    min-height: 50vh;
  }

  h2 {
    margin-top: 12px;
    font-size: 28px;
    font-weight: 600;
    color: #0c0d36;
  }

  .btn-singup {
    @include button-variant(#f3f3f3, transparent);
    color: #bbb;
  }
}
